@value makerBlack from "../../../common/colors.css";

.container {
  width: 7.5rem;
  height: 7.5rem;
  margin: 0.4em;
  position: relative;
  transform-style: preserve-3d;
  transition: all 300ms ease-in-out;
}

.card_flip {
  transform: rotateY(180deg);
}

.prohibition {
  pointer-events: none;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  background-color: makerBlack;
  backface-visibility: hidden;
  cursor: pointer;
}

.card:hover {
  opacity: 0.8;
}

.card_back {
  transform: rotateY(180deg);
  pointer-events: none;
}

.card_click {
  transform: rotateY(180deg);
  pointer-events: none;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 2em;
}

.img_back {
  width: 50%;
  height: 50%;
  border-radius: 2em;
}
