@value makerWhite from "../../common/colors.css";

.cardGame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background: makerWhite;
  width: 75%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.play,
.stop {
  width: 9rem;
  height: 5rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  transition: all 200ms ease-in-out;
}

.play:hover,
.stop:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.stop {
  position: absolute;
}

.play {
  position: absolute;
  right: 2rem;
}
