@value makerWhite,makerBlack from "../../../common/colors.css";

.stopWatch {
  position: absolute;
  right: 5rem;
  top: 4rem;
  color: makerWhite;
  font-size: 1.5rem;
}

.complete {
  top: 30%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 2rem;
  color: makerBlack;
}

.clear_title {
  position: absolute;
  display: none;
}

.complete_title {
  display: block;
  top: 20%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 2rem;
  color: makerBlack;
}
